<form action="/get-link" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Add Your Video Link</label>
    <input
      type="url"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Link"
      name="url"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll Make Iframe Of Your Link</small
    >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
